For this project, I pick Seattle Airbnb Open Data. Inspired by Robert. Since 2008, guests and hosts have used Airbnb to travel in a more unique, personalized way. As part of the Airbnb Inside initiative, this dataset describes the listing activity of homestays in Seattle, WA [[1]](https://www.kaggle.com/airbnb/seattle). 

# Content
The following Airbnb activity is included in this Seattle dataset:
*   Listings, including full descriptions and average review score
*   Reviews, including unique id for each reviewer and detailed comments
*   Calendar, including listing id and the price and availability for that day

# Questions
*   I would try to solve some questions in this project which are simples.

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
%matplotlib inline

reviews = pd.read_csv('./reviews.csv')
calendar = pd.read_csv('./calendar.csv')
listings = pd.read_csv('./listings.csv')
reviews.head()

   listing_id  ...                                           comments
0     7202016  ...  Cute and cozy place. Perfect location to every...
1     7202016  ...  Kelly has a great room in a very central locat...
2     7202016  ...  Very spacious apartment, and in a great neighb...
3     7202016  ...  Close to Seattle Center and all it has to offe...
4     7202016  ...  Kelly was a great host and very accommodating ...

[5 rows x 6 columns]

In [5]:
calendar.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [6]:
listings.head()

        id  ... reviews_per_month
0   241032  ...              4.07
1   953595  ...              1.48
2  3308979  ...              1.15
3  7421966  ...               NaN
4   278830  ...              0.89

[5 rows x 92 columns]

# Question 1
There are many more prices to predict. One of the ways we can start to make predictions on these values is by imputing items into the X matrix instead of dropping them.

Using the listings dataframe drop the rows with missing values of the response (Prices) - store this new dataframe in drop_price_df, then impute the values for all the other missing values with the mean of the column - store this in fill_df.

In [73]:

# test look
#drop_sal_df['accommodates'].head()

In [60]:
drop_sal_df = listings.dropna(subset=['host_response_rate'], axis=0)#Drop the rows with missing salaries
num_vars = listings[['host_response_rate','price', 'beds', 'bedrooms','guests_included','minimum_nights']]
df_dropna = num_vars.dropna(axis=0)
X = df_dropna[['beds', 'bedrooms','guests_included','minimum_nights']]
y = df_dropna['price']

In [61]:

fill_mean = lambda col: col.fillna(col.mean()) 

fill_df = X.apply(fill_mean, axis=0) 


fill_df.head()

   beds  bedrooms  guests_included  minimum_nights
0   1.0       1.0                2               1
1   1.0       1.0                1               2
2   7.0       5.0               10               4
4   3.0       3.0                6               1
6   1.0       1.0                1               3

#Question 2

Predict host_response_rate based on all of the other quantitative variables in the dataset. 

1. Split the data into explanatory and response variables
2.   Split the data into train and test (using seed of 42 and test_size of .30 as above)
3.   Instantiate your linear model using normalized data
4. Fit your model on the training data
5. Predict using the test data
6. Compute a score for your model fit on all the data, and show how many rows you predicted for Use the tests to assure you completed the steps correctly.

In [72]:
X = fill_df[['beds', 'bedrooms','guests_included','minimum_nights']]
y = df_dropna['host_response_rate'].str.replace('%', '')
y= pd.to_numeric(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state=42) 

lm_model = LinearRegression(normalize=True) 
lm_model.fit(X_train, y_train) 

y_test_preds = lm_model.predict(X_test) 

rsquared_score = r2_score(y_test, y_test_preds)
length_y_test = len(y_test)

"The r-squared score for your model was {} on {} values.".format(rsquared_score, length_y_test)

'The r-squared score for your model was 0.0009540152452794937 on 987 values.'

# Question 3

Check and find the missing values in the listings dataset:

1. The number of columns with no missing values.
2. The number of columns with more than half of the column missing.
3. The number of columns with more than 75% of the column missing.

In [84]:
# Answer 1
np.sum(np.sum(listings.isnull())/listings.shape[0] == 0)

47

In [85]:
# Answer 2

np.sum(np.sum(listings.isnull())/listings.shape[0] > .5)

4

In [86]:
# Answer 3

np.sum(np.sum(listings.isnull())/listings.shape[0] > .75)

2

# Conclusion

In this project I have tried to work on AirBNB dataset. 
For me it was a bit hard to analyse dataset. I am trying to learn how to do it. I tried to make some experiance based on existing examples on our lessons.